<div class="customNav">
    <app-top-nav [custom]="true" [showLang]="false"></app-top-nav>
</div>
<div class="row">
    <div class="col">
        <h3 class="title animated bounceInDown delay-.5s" *ngIf="question==1">{{'QUESTION2.ques1' | translate}}</h3>
        <h3 class="title animated bounceInDown delay-.5s" *ngIf="question==2">{{'QUESTION2.ques2' | translate}}</h3>
    </div>
</div>
<div class="row d-flex justify-content-center animated fadeIn delay-1s pt-5">
    <div class="col-10">
        <div class="card d-flex flex-nowrap flex-row justify-content-center align-items-center py-3" (click)="result(1)">
            <div class="col-txt text-center">
                <h1>{{'QUESTION2.option.1' | translate}}</h1>
            </div>
        </div>
    </div>
    <div class="col-10 mt-4">
        <div class="card d-flex flex-nowrap flex-row justify-content-center align-items-center py-3" (click)="result(2)">
            <div class="col-txt text-center">
                <h1>{{'QUESTION2.option.2' | translate}}</h1>
            </div>
        </div>
    </div>
</div>