@import '~src/assets/scss/_vars';
:host {
  & .row {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    & button {
      border-radius: 0;
      width: 100%;
      background-color: $base-blue-light;
      color: $base-white;
      font-size: 21px;
      font-weight: 800;
      letter-spacing: -1.0px;
    }
    & .title {
      margin-top: 0;
      width: 100%;
      height: 36px;
      color: $base-blue-dark;
      font-size: 26px;
      font-weight: 300;
      letter-spacing: -1.26px;
      text-align: center;
    }
    & .subtitle {
      margin-top: 6px;
      text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.62);
      color: $base-white;
      font-size: 25px;
      font-weight: 800;
      letter-spacing: -1px;
      text-align: center;
    }
    & .card{
      padding: 6px 6px 6px 10px;
      background-color: $base-blue-dark;
      p{
        color: $base-white;
        margin-bottom: 0;
        padding: 0;
      }
    }
  }
  & h1 {
    color: $base-white;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -1.3px;
    padding-left: 19px;
  }
  & h2.title {
    width: 76px;
    height: 29px;
    color: $base-blue-light;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1.3px;
  }
  & p {
    font-family: $font-family-light;
    color: $base-blue-dark;
    font-size: 18px;
    letter-spacing: -1px;
  }
  img {
    width: 130px;
  }
  & .result-options{
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

@media(max-width: 385px) {
  .pad-mob {
    padding-left: 0;
    padding-right: 0;
  }
}

@media(max-width: 355px) {
  :host {
    & p {
      font-size: 16px;
    }
  }
}
h4 {
  font-size: 1.25rem;
  color: #005B79;
}