
<div class="customNav">
  <app-top-nav></app-top-nav>
</div>

<div class="row pt-46 text-center animated bounceInDown delay-.5s">
  <div class="col-12">
    <h1>{{'REGISTER.thanks' | translate}}</h1>
  </div>
</div>
<div class="row pt-46 text-center animated fadeIn delay-1s">
  <div class="col-12">
    <p>{{'REGISTER.thanks.description' | translate}}</p>
  </div>
</div>

<div class="row pt-46 animated fadeIn delay-1s">
  <div class="col-12 d-flex justify-content-center">
    <button class="btn btn-default" (click)="homePage()">{{'REGISTER.homepage' | translate}}</button>
  </div>
</div>

