@import '~src/assets/scss/_vars';
:host {
  & .pt-46{
    align-content: center;
    display: flex;
    justify-content: center;
    padding-top: 46px;

    & p {
      color: $base-white;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: -1.17px;
      font-family: $font-family-light;
    }
  }
  & form {
    padding-top: 43px;
    display: flex;
    flex-wrap: wrap;
  }
  & input {
    width: 304px;
    height: 41px;
    background-color: $base-blue-dark;
    border-radius: 0;
  }
}
