@import '~src/assets/scss/_vars';
:host {
  & .benefit {
    height: 4.938rem;
    background: $base-green-light-opacity;
    width: 100%;
    & p {
      margin-bottom: 0;
      color: $base-white;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: -0.857143px;
      font-family: $font-family-medium;
    }
    & button {
      margin-left: 5%;
      min-width: 171px;
      max-width: 100%;
      font-family: $font-family-medium;
      background-color: $base-black-light;
      color: $base-white;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -1px;
      border-radius: 104px;
    }
  }
}
