<div #sectionFour>
    <div class="row">
        <div class="col text-left">
            <h1 class="title">{{'SECTION-FOUR.section-title' | translate}}</h1>
        </div>
    </div>
    <div class="workContent">
        <div class="singleWork animated fadeIn row" *ngIf="shouldDisplay">
            <div class="col-3 singleImage">
                <img class="img-fluid" src="assets/images/section-four-one.png">
            </div>
            <div class="col-9 singleContent">
                <h3>{{'SECTION-FOUR.title-1' | translate}}</h3>
            </div>
        </div>
        <div class="singleWork animated fadeIn row" *ngIf="shouldDisplay">
            <div class="col-3 singleImage">
                <img class="img-fluid" src="assets/images/section-four-two.png">
            </div>
            <div class="col-9 singleContent">
                <h3>{{'SECTION-FOUR.title-2' | translate}}</h3>
            </div>
        </div>
        <div class="singleWork animated fadeIn row" *ngIf="shouldDisplay">
            <div class="col-3 singleImage">
                <img class="img-fluid" src="assets/images/section-four-three.png">
            </div>
            <div class="col-9 singleContent">
                <h3>{{'SECTION-FOUR.title-3' | translate}}</h3>
            </div>
        </div>
        <div class="singleWork animated fadeIn row" *ngIf="shouldDisplay">
            <div class="col-3 singleImage">
                <img class="img-fluid" src="assets/images/section-four-four.png">
            </div>
            <div class="col-9 singleContent">
                <h3>{{'SECTION-FOUR.title-4' | translate}}</h3>
            </div>
        </div>
        <div class="backLine">
            <img src="assets/images/Line2.png" alt="">
        </div>
    </div>
</div>
