/3dfoot/foot
/3dfoot/node_modules
/3dfoot.zip
/3dfoot/.idea/3dfoot.iml
/3dfoot/.idea/inspectionProfiles/Project_Default.xml
/3dfoot/.idea/misc.xml
/3dfoot/.idea/modules.xml
/3dfoot/.idea/vcs.xml
/3dfoot/.idea/workspace.xml
/be_3dfoot.zip
