@import '~src/assets/scss/_vars';
:host {
  & .col-7 {
    display: flex;
    align-items: center;
    height: fit-content;
  }
  & .row.fixed .active {
    color: $base-green-light;
  }
  & span:first-child {
    margin-right: 6px;
  }
  & span:nth-last-child(1) {
    margin-left: 6px;
  }
  & .row {
    margin-top: 5px;
    margin-bottom: 35px;
    & .title {
      font-family: $font-family-medium;
      margin-top: 0;
      width: 100%;
      color: $base-black-light;
      text-align: center;
      font-weight: 500;
      font-size: 30px;
      line-height: 38px;
      letter-spacing: -2px;
    }
    & .subtitle {
      margin-top: 6px;
      text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.62);
      color: #fff;
      font-size: 25px;
      font-weight: 800;
      letter-spacing: -1px;
      text-align: center;
    }
    & .card{
      padding: 6px 10px 6px 6px;
      background-color: $base-black-light;
    }
  }
  & h1 {
    font-family: $font-family-light;
    color: $base-white;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -1.3px;
    margin-bottom: 0;
  }
}

