@import '~src/assets/scss/_vars';
:host {
  .question-content {

  }
  & .col-7 {
    display: flex;
    align-items: center;
    height: fit-content;
  }
  & .row.fixed .active {
    color: $base-green-light;
  }
  & span:first-child {
    margin-right: 6px;
  }
  & span:nth-last-child(1) {
    margin-left: 6px;
  }
  & .row {
    margin: 0 -40px 35px -40px;
    & .title {
      font-family: $font-family-medium;
      margin-top: 0;
      width: 100%;
      color: $base-black-light;
      text-align: center;
      font-weight: 500;
      font-size: 30px;
      line-height: 38px;
      letter-spacing: -2px;
    }
    & .subtitle {
      margin-top: 6px;
      text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.62);
      color: $base-white;
      font-size: 25px;
      font-weight: 800;
      letter-spacing: -1px;
      text-align: center;
    }
    & .card{
      background-color: transparent;
      border: none;
    }
  }
  & h1 {
    max-width: 354px;
    font-family: $font-family-medium;
    color: $base-white;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1px;
    &:after {
      content: '';
      position: absolute;
      width: 50px;
      height: 4px;
      bottom: -15px;
      background: $base-green-light;
      margin: auto;
      left: 0;
      right: 0;
    }
  }
}

