<div class="customNav">
    <app-top-nav [custom]="true" [showLang]="false"></app-top-nav>
</div>
<div class="row animated bounceInDown delay-.5s">
    <div class="col">
        <h3 class="title">{{'QUESTION1.ques' | translate}}</h3>
    </div>
</div>
<div class="row d-flex justify-content-center animated fadeIn delay-1s question-content">
    <div class="col-12">
        <div class="card d-flex justify-content-center align-items-center position-relative" (click)="result(1)">
            <div class="col-img">
                <img src="assets/images/sporty.png" class="img-fluid" alt="Sporty">
            </div>
            <div class="col-txt position-absolute">
                <h1>{{'QUESTION1.option.1' | translate}}</h1>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card d-flex justify-content-center align-items-center position-relative" (click)="result(2)">
            <div class="col-img">
                <img src="assets/images/long.png" class="img-fluid" alt="Stand">
            </div>
            <div class="col-txt position-absolute">
                <h1>{{'QUESTION1.option.2' | translate}}</h1>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card d-flex justify-content-center align-items-center position-relative" (click)="result(3)">
            <div class="col-img">
                <img src="assets/images/phisical.png" class="img-fluid" alt="Phisical problem">
            </div>
            <div class="col-txt position-absolute">
                <h1>{{'QUESTION1.option.3' | translate}}</h1>
            </div>
        </div>
    </div>
</div>
