@import '~src/assets/scss/_vars';
:host {
  & .pt-46{
    padding-top: 46px;
    & p {
      color: $base-black-light;
      font-family: $font-family-medium;
      text-align: left;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -1px;
    }
  }
}
