@import '~src/assets/scss/_vars';
:host {
  padding: 28px 25px;
  width: 100%;
  max-width: 100%;
  min-height: 500px;
  background-color: $base-white;
  & .newsletter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  & h1 {
    height: 38px;
    color: $base-white;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -1.36px;
    text-align: left;
  }
  & h2 {
    height: 36px;
    color: $base-blue-dark;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: -1.26px;
  }
  & input {
    width: 245px;
    height: 53px;
    border-radius: 3px;
    border: 1px solid $base-blue-dark;
    background-color: $base-white;
    margin-right: 10px;
  }
  & button {
    height: 53px;
    border-radius: 8px;
    background-color: $base-blue-dark;
    color: $base-white;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: -1.26px;
    opacity: 1;
  }
  & ul {
    padding-inline-start: 10px;
    padding-top: 40px;
  }
  & ul > li {
    margin-bottom: 18px;
    list-style: none;
    height: 36px;
    color: $base-blue-dark;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: -1.26px;
  }

}


@media (max-width: 395px){
  :host {
    & div:not(.row) {
      display: block;
    }
    & input {
      width: 100%

    }
   & button {
      width: 100%;
    }
  }

}
