@import '~src/assets/scss/_vars';
:host {
  .question-content {
    //margin: 0 -25px;
  }
  & .col-7 {
    display: flex;
    align-items: center;
    height: fit-content;
  }
  & .row.fixed .active {
    color: $base-green-light;
  }
  & span:first-child {
    margin-right: 6px;
  }
  & span:nth-last-child(1) {
    margin-left: 6px;
  }
  & .row {
    margin-top: 5px;
    & .title {
      font-family: $font-family-medium;
      margin-top: 0;
      width: 100%;
      color: $base-black-light;
      text-align: center;
      margin-bottom: 35px;
      font-weight: 500;
      font-size: 30px;
      line-height: 38px;
      letter-spacing: -2px;
    }
    & .subtitle {
      margin-top: 6px;
      text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.62);
      color: #fff;
      font-size: 25px;
      font-weight: 800;
      letter-spacing: -1px;
      text-align: center;
    }
    & .card{
      padding: 6px 10px 6px 6px;
      background-color: $base-black-light;
    }
  }
  & h1 {
    font-family: $font-family-light;
    color: $base-white;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -1.3px;
    margin-bottom: 0;
  }
}

.btn-default {
  background-color: $base-green-light;
  font-family: $font-family-medium;
  color: $base-white;
  font-weight: 500;
  width: 354px;
  max-width: 100%;
  border-radius: 104px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -1px;
  margin: auto;
}

.question-title {
  color: $base-black-light;
}
.span-check {
  position: absolute;
  line-height: 20px;
  cursor: pointer;
}
.span-check::after {
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid $base-black-light;
  position: absolute;
  background-color: white;
  z-index: 99;
}
.span-check.checked::before {
  content: " ";
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 3px;
  top: 3px;
  border-radius: 100%;
  background-color: $base-green-light;
  z-index: 100;
}

.first-question {


}
.second-question {
  img {
    max-height: 200px;
  }
  .span-check {
    top: calc(50% - 10px);
    left: -10px;
  }
  .span-check+span {
    line-height: 20px;
    padding-left: 12px;
    cursor: pointer;
  }

}
