@import '~src/assets/scss/_vars';
:host {
  width: 100%;
  max-width: 100%;
  & p {
    color: $base-black-light;
    font-size: 21px;
    font-weight: 800;
    letter-spacing: -1.02px;
    margin: 10px 0;
  }
}
