<div #sectionThree>
    <div class="djg">
        <div *ngIf="shouldDisplay" class="contentLeft">
            <h1 class="section-title animated fadeIn slow">{{'SECTION-THREE.section-title' | translate}}</h1>
            <ul class="animated fadeIn slow">
                <li>- {{'SECTION-THREE.li-1' | translate}} </li>
                <li>- {{'SECTION-THREE.li-2' | translate}} </li>
                <li>- {{'SECTION-THREE.li-3' | translate}} </li>
                <li>- {{'SECTION-THREE.li-4' | translate}}</li>
            </ul>
            <button class="btn btn-default animated fadeIn slow"
                    (click)="takeQuizz(2)">{{'button-started' | translate}}</button>
        </div>
    </div>
</div>
