@import '~src/assets/scss/_vars';
:host {
  background-image: url("~/assets/images/section-3-bg.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 521px;
  max-width: 100%;
  & .djg {
    flex: 1;
    flex-wrap: nowrap;
    min-height: 521px;
    flex-direction: row;
  }
  & .shadow {
    position: relative;

    width: 239px;
    background-color: $base-black;
    opacity: 0.39;
    display: flex;
    flex: 1 1 100%;
    flex-grow: 1;
    z-index: 0;
  }
  & .section-title{
    color: $base-white;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: -1.3px;
    z-index: 99;
    margin-top: 15px;
    line-height: 1.4;
  }
  & ul {
    z-index: 99;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  & ul > li {
    font-family: $font-family-medium;
    color: $base-white;
    font-size: 1.125rem;
    letter-spacing: -0.054rem;
    line-height: 20px;
    margin-bottom: 25px;
  }
  & button {
    width: 173px;
    background-color: $base-blue-light;
    color: $base-blue-dark;
    font-size: 21px;
    font-weight: 800;
    letter-spacing: -1.024px;
    z-index: 99;
    margin-top: 40px;
    border-radius: 2px;
  }
  ::ng-deep app-benefit .benefit {
    padding-left:  23px;
    padding-right: 23px;

  }
  & .contentLeft{
    float: left;
    width: 60%;
    min-height: 521px;
    background: rgba(0, 91, 121, .74);
    padding: 25px;
  }
}


@media(max-width: 395px) {
  :host {
    & .section-title{
      font-size: 24px;
    }
  }
}
