@import '~src/assets/scss/_vars';
:host {
  & .pt-46 {
    padding-top: 25px;
    & p {
      color: $base-black-light;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -1px;
      font-family: $font-family-medium;
    }
  }

  .pt-title {
    padding-top: 44px;
    max-width: 350px;
    margin: auto;
  }

  & form {
    padding-top: 25px;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
  }

  & input {
    width: 354px;
    max-width: 100%;
    height: 42px;
    background-color: $base-gray-light-2;
    border: 1px solid $base-gray-opacity;
    border-radius: 21px;
  }
}

@media(max-width: 395px) {
  :host {
    & h1 {
      font-size: 26px;
    }

    & .pt-46 {
      & p {
        font-size: 19px;
      }
    }

    & form {
      padding-top: 0;
    }
  }
}
