@import '~src/assets/scss/_vars';
:host {
  & .pt-46 {
    padding-top: 25px;

    & p {
      color: $base-white;
      font-size: 24px;
      letter-spacing: -1.17px;
      font-family: $font-family-light;
    }
  }

  & form {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  & input {
    width: 305px;
    height: 41px;
    background-color: $base-white;
    border-radius: 0;
  }

  .form-control {
    &:focus {
      color: $base-gray;
    }

    &::placeholder {
      color: $base-gray;
      opacity: 0.6;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $base-gray;
      opacity: 0.6;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: $base-gray;
      opacity: 0.6;
    }
  }
}

@media(max-width: 395px) {
  :host {
    & h1 {
      font-size: 26px;
    }

    & .pt-46 {
      & p {
        font-size: 19px;
      }
    }

    & form {
      padding-top: 0;
    }
  }
}
