@import '~src/assets/scss/_vars';

:host {
  & .header-menu {
    height: 165px;
    &.back {
     height: 100%;
    }
  }
  & .topNav {
    margin-left: 0;
    margin-right: 0;
    height: auto;
    padding: 20px 9px 20px 9px;
    background: $base-green-light;
    &.fixed {
      background: $base-green-light;
      position: fixed;
      width: inherit;
      transition: all 300ms ease-in;
      margin-top: 0;
      z-index: 999;
      padding: 20px 9px 20px 9px;
      max-width: 414px;
    }

    &:not(.fixed) {
      transition: all 300ms ease-out;
    }
  }

  & .topNav.back {
    background: $base-green-light;
    border-bottom: 2px solid $base-green-light-2;
  }

  & .logo {
    cursor: pointer;
    width: 165px;
  }

  & .langContent {
    margin-top: 7px;
  }

  & span {
    width: 67px;
    height: 27px;
    color: $base-green-light-2;
    text-align: right;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;

    &.active {
      color: $base-white;
    }
  }

  & span:first-child {
    margin-right: 6px;
  }

  & span:nth-last-child(1) {
    margin-left: 6px;
  }

  .cus {
    span {
      color: $base-blue-dark;

      &.active {
        color: white;
      }
    }
  }

  .swizContent {
    margin: auto;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 25px 0 10px 0;
    background:transparent;
    &.back {
      background: transparent;
    }
    img {
      width: 30px;
      height: 25px;
      margin-right: 10px;
    }

    p {
      color: $base-black-light;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.5px;
      padding-top: 2px;
      font-family: $font-family-medium;
    }
    &.back {
      p {
        color: $base-white;
      }
    }
  }
}

@media(max-width: 360px) {
  :host {
    .swizContent {
      p {
        font-size: 13px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-top: 4px;
      }
    }
  }
}
