<div class="row topNav" [class.fixed]="checkScroll()" [class.cus]="custom" [class.back]="background">
    <div class="col" *ngIf="newLogo">
        <img class="logo img-fluid" [routerLink]="['']" src="assets/images/logo2.png">
    </div>
    <div class="col" *ngIf="!newLogo">
        <img class="logo img-fluid" [routerLink]="['']" src="assets/images/logo.png">
    </div>
    <div class="col d-flex justify-content-end langContent" *ngIf="showLang">
        <div *ngIf="!onScroll">
            <span (click)="switchLanguage('ch')" [ngClass]="{'active': lang == 'ch'}">CH</span>
            <span>|</span>
            <span (click)="switchLanguage('en')" [ngClass]="{'active': lang == 'en'}">EN</span>
        </div>
        <div *ngIf="onScroll">
            <span [routerLink]="['/register']">{{'HEADER.sign-up' | translate}}</span>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-start swizContent" *ngIf="footer">
        <img class="flag img-fluid" src="assets/images/switzerland.png">
        <p class="footer-text">{{'HEADER.footer' | translate}}</p>
    </div>
</div>
