@import '~src/assets/scss/_vars';

:host {
  & .topNav {
    margin-left: 0;
    margin-right: 0;
    height: auto;
    padding: 35px 9px 10px 9px;
    background: transparent;

    &.fixed {
      background: $base-blue-light;
      position: fixed;
      width: inherit;
      transition: all 300ms ease-in;
      margin-top: 0;
      padding-top: 35px;
      z-index: 999;
      padding-bottom: 10px;
      max-width: 414px;
    }

    &:not(.fixed) {
      transition: all 300ms ease-out;
    }
  }

  & .topNav.back {
    background: $base-blue-light;
  }

  & .logo {
    cursor: pointer;
    width: 165px;
  }

  & .langContent {
    margin-top: 7px;
  }

  & span {
    width: 67px;
    height: 27px;
    color: $base-blue-dark;
    text-align: right;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;

    &.active {
      color: $base-white;
    }
  }

  & span:first-child {
    margin-right: 6px;
  }

  & span:nth-last-child(1) {
    margin-left: 6px;
  }

  .cus {
    span {
      color: $base-blue-dark;

      &.active {
        color: white;
      }
    }
  }

  .swizContent {
    position: relative;
    top: 6px;
    img {
      width: 30px;
      height: 25px;
      margin-right: 10px;
    }

    p {
      color: $base-blue-dark;
      font-size: 15px;
      padding-top: 2px;
      font-family: $font-family-medium;
    }
  }
}

@media(max-width: 360px) {
  :host {
    .swizContent {
      p {
        font-size: 13px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-top: 4px;
      }
    }
  }
}
