<app-top-nav [background]="true"></app-top-nav>
<div class="headerBack">
    <div class="row">
        <div class="col-sm-12 animated fadeIn">
            <h1 class="title">{{'HEADER.title' | translate}}</h1>
        </div>
        <div class="col-sm-12 animated fadeIn headerList">
            <h5>{{'HEADER.subtitle' | translate}}</h5>
            <ul>
                <li>{{'HEADER.li-1' | translate}}</li>
                <li>{{'HEADER.li-2' | translate}}</li>
                <li>{{'HEADER.li-3' | translate}}</li>
                <li>{{'HEADER.li-4' | translate}}</li>
                <li>{{'HEADER.li-5' | translate}}</li>
            </ul>
        </div> 
        <div class="col-sm-12 animated fadeIn">
            <p class="subtitle" [innerHTML]="'HEADER.description1' | translate"></p>
        </div>
        <div class="col-sm-12 animated fadeIn">
            <p class="subtitle" [innerHTML]="'HEADER.description2' | translate"></p>
        </div>
        <div class="col-sm-12 animated fadeIn description3">
            <p class="subtitle" [innerHTML]="'HEADER.description3' | translate"></p>
        </div>
    </div>
    <div class="row d-flex animated fadeIn shopButton">
        <div class="col d-flex justify-content-center">
            <button class="btn btn-default" [routerLink]="['/register']">{{'HEADER.shop-now' | translate}}</button>
        </div>
    </div>
    <div class="row header-footer">
        <div class="col-sm-12 animated fadeIn learnMore">
            <p class="subtitle">{{'HEADER.learn' | translate}} </p>
            <img src="assets/images/header-footer-icon.png" class="footerTri img-fluid">
        </div>
    </div>
</div>
