<app-top-nav [background]="true"></app-top-nav>
<div class="header-section">
    <div class="hero">
        <img src="assets/images/hero.png" class="img-fluid" alt="Comfort">
        <h1 class="position-absolute">{{'HEADER.hero-title' | translate}}</h1>
        <div class="row d-flex animated fadeIn shopButton pb-5 position-absolute">
            <div class="col d-flex justify-content-center">
                <button class="btn btn-default" [routerLink]="['/register']">{{'HEADER.shop-now' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="row custom-made position-relative">
        <h5 class="col-9" [innerHTML]="'HEADER.hero-our-swiss' | translate"></h5>
    </div>
    <div class="row pb-0 py-0 m-0 foot-section">
        <div class="col-5 col-sm-5 p-0">
            <img src="assets/images/foots_header.png" class="img-fluid" alt="{{'HEADER.hero-make' | translate}}">
        </div>
        <div class="col-7 col-sm-7 hero-list pt-0 mt-0">
            <h5 class="mb-0 pb-0">{{'HEADER.hero-make' | translate}}</h5>
            <ul>
                <li [innerHTML]="'HEADER.hero-li-1' | translate"></li>
                <li [innerHTML]="'HEADER.hero-li-2' | translate"></li>
                <li [innerHTML]="'HEADER.hero-li-3' | translate"></li>
            </ul>
        </div>
    </div>
</div>

<app-benefit [number]="1"></app-benefit>
<div class="headerBack">
    <div class="row">
        <div class="col-sm-12 animated fadeIn">
            <h1 class="title">{{'HEADER.title' | translate}}</h1>
        </div>
        <div class="col-sm-12 animated fadeIn headerList">
            <h5>{{'HEADER.subtitle' | translate}}</h5>
            <ul>
                <li>{{'HEADER.li-1' | translate}}</li>
                <li>{{'HEADER.li-2' | translate}}</li>
                <li>{{'HEADER.li-3' | translate}}</li>
                <li>{{'HEADER.li-4' | translate}}</li>
                <li>{{'HEADER.li-5' | translate}}</li>
            </ul>
        </div> 
        <div class="col-sm-12 animated fadeIn">
            <p class="subtitle" [innerHTML]="'HEADER.description1' | translate"></p>
        </div>
        <div class="col-sm-12 animated fadeIn">
            <p class="subtitle" [innerHTML]="'HEADER.description2' | translate"></p>
        </div>
        <div class="col-sm-12 animated fadeIn description3">
            <p class="subtitle" [innerHTML]="'HEADER.description3' | translate"></p>
        </div>
    </div>
    <div class="row d-flex animated fadeIn shopButton pb-5">
        <div class="col d-flex justify-content-center">
            <button class="btn btn-default" [routerLink]="['/register']">{{'HEADER.shop-now' | translate}}</button>
        </div>
    </div>
</div>
