@import '~src/assets/scss/_vars';

:host {
  background-color: $base-white;

  & .row:first-child {
    margin-top: 0;
    padding-right: 9px;
    padding-left: 9px;

    &.fixed {
      position: fixed;
      width: inherit;
      background: $base-blue-light;
      transition: all 700ms ease-in;
      margin-top: 0;
      padding-top: 35px;
      z-index: 999;
      padding-bottom: 30px;

    }

    &:not(.fixed) {
      transition: all 700ms ease-out;
    }
  }

  & .logo {

    width: 145px;
    height: 35px;
  }

  & span {
    width: 67px;
    height: 27px;
    color: $base-blue-light;
    text-align: right;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;

    &.active {
      color: white;
    }
  }

  & span:first-child {
    margin-right: 6px;
  }

  & span:nth-last-child(1) {
    margin-left: 6px;
  }

  & .row {
    margin-top: 42.4px;
    margin-left: 0;
    margin-right: 0;

    & .header-title {
      height: 27px;
      color: $base-blue-light;
      font-size: 20px;
      font-weight: 800;
      letter-spacing: -1px;
      flex: 1;
      align-self: flex-end;
      margin-right: 40px;

    }

    & button {

      width: 75%;
      background-color: $base-blue-light;
      color: #fff;
      font-size: 21px;
      font-weight: 800;
      letter-spacing: -1.0px;
      padding: 10px;
      border-radius: 1px;
    }

    & .title {
      margin-top: 20px;
      color: $base-blue-dark;
      font-weight: 800;
      text-align: left;
      font-size: 29px;
      line-height: 1.4;
      letter-spacing: -1.6px
    }

    & .subtitle {
      margin-top: 6px;
      font-size: 19px;
      letter-spacing: -1px;
      text-align: left;
      color: $base-blue-dark;
      font-family: $font-family-medium;

      strong {
        font-family: $font-family-base;
        font-weight: 800;
      }
    }

    &.footer {
      margin-top: 34px;

    }

    & .flag {
      width: 42px;
      height: 30px;
    }

    & .footer-text {
      height: 23px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      color: $base-white;
      font-size: 17px;
      font-weight: 800;
      word-break: break-word;
    }
  }

  .header-section {
    background-image: url("~/assets/images/bg-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    .hero {
      position: relative;

      h1 {
        max-width: 300px;
        margin: auto;
        top: 15px;
        left: 0;
        right: 0;
        text-align: center;
        color: $base-blue-dark;
        font-size: 29px;
        font-weight: 800;
        letter-spacing: -1.41px;
      }

      .shopButton {
        bottom: 18%;
        left: 0;
        right: 0;
        margin: 0;

        button {
          width: 203px;
          padding: 5px;
          max-width: 100%;
        }
      }
    }
    .foot-section {
      img {
        height: 160px;
        width: 100%;
        object-fit: cover;
      }
    }
    .custom-made {
      color: $base-blue-dark;
      top: -35px;
      strong {
        color: $base-blue-light;
        text-transform: lowercase;
      }
    }
    .hero-list {
      color: $base-blue-dark;
      h5 {
        font-size: 21px;
      }

      ul {
        font-size: 21px;
        font-family: $font-family-medium;

        li {
          padding-left: 5px;
        }
      }
    }
  }


  & .headerBack {
    background-image: url("~/assets/images/header-back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    min-height: 621px;
    float: left;
  }

  & .headerList {
    margin-top: 10px;
    color: $base-blue-dark;

    h5 {
      font-size: 21px;
    }

    ul {
      font-size: 21px;
      font-family: $font-family-medium;

      li {
        padding-left: 5px;
      }
    }
  }

  & .description3 {
    .subtitle {
      text-align: center;
      font-family: $font-family-base;
      width: 80%;
      margin: auto;
      font-size: 21px;
    }
  }

  & .shopButton {
    margin-top: 10px;
  }

  & .header-footer {
    margin-top: 0;

    .learnMore {
      width: 100%;
      margin: 10px auto;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .subtitle {
        float: left;
        margin-top: 0;
        margin-bottom: 0;
      }

      img {
        width: 16px;
        height: 12px;
        margin-left: 5px;
      }
    }
  }

  & app-top-nav {
    min-height: 130px;
    height: 130px;
    //float: left;
    width: 100%;
  }
}


@media(max-width: 395px) {
  :host {
    & .row {
      & .title {
        font-size: 26px;
      }
    }
  }
}

@media(max-width: 360px) {
  :host {
    .header-section {
      .hero-list {
        h5 {
          font-size: 16px;
        }
        ul {
          font-size: 16px;
          li {
            padding-left: 5px;
          }
        }
      }
    }

  }
}
