:host{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 28px 25px;

    flex-wrap: wrap;
    height: 100%;
    width: 414px;
    min-height: 100vh;
    background-color: #0b5892;
    .customNav{
        margin-left: -25px;
        margin-right: -25px;
        margin-top: -30px;
    }
    & h1 {
        height: 49px;
        color: #ffffff;
        font-size: 36px;
        font-weight: 800;
        letter-spacing: -1.75px;
      }
    & .head{
        align-content: center;
        display: flex;
        justify-content: center;
        padding-top: 46px;
    }
    & .fetchUsers{
        text-align: center;
        margin-top: 50px;
        color: #fff;
        .btn{
            background-color: #2cd6e5;
            padding: 12px;
            width: 200px;
            border-radius: 2px;
        }
    }
    
}