@import '~src/assets/scss/_vars';
:host {
  & .p-subtitle{
    margin-top: 15px;
    & p {
      color: $base-white;
      font-family: $font-family-light;
      font-size: 20px;
      letter-spacing: -1.17px;
      text-align: center;
    }
  }

  form {
    padding: 20px;
    color: $base-blue-dark;
    width: 100%;
    textarea {
      width: 100%;
      max-width: 100%;
      border-radius: 0;
    }
    input {
      border-radius: 0;
    }
  }
  & .loginBtn {
    width: 194px;
    height: 50px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -1.17px;
    border-radius: 0;
    background-color: $base-blue-light;
    color: $base-blue-dark;
  }
}
