<div class="customNav">
    <app-top-nav [newLogo]="false" [footer]="false" [showLang]="false"></app-top-nav>
</div>
<app-back></app-back>
<div class="row pt-46 text-center animated bounceInDown delay-.5s">
    <div class="col-12">
        <h1>{{'CONTACTS.head' | translate}}</h1>
    </div>
</div>
<div class="row p-subtitle text-center animated fadeIn delay-1s">
    <div class="col-12">
        <p [innerHTML]="'CONTACTS.description' | translate"></p>
    </div>
</div>
<div class="row loginFormHere">
    <form>
        <div class="form-group">
            <input type="email" formControlName="email" class="form-control" placeholder="{{'CONTACTS.email' | translate}}"/>
        </div>
        <div class="form-group">
            <textarea name="message" rows="9" class="form-control" placeholder="{{'CONTACTS.message' | translate}}"></textarea>
        </div>
        <div class="text-center pt-3">
            <button class="btn btn-default loginBtn">{{'CONTACTS.btn-submit' | translate}}</button>
            <ng-template #default>
                <div class="spinner mx-auto" style="margin-top: 2.5rem;">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </ng-template>
        </div>
    </form>
</div>
