<div class="djg" #section5>
    <div *ngIf="shouldDisplay" class="contentLeft">
        <h1 class="section-title animated fadeIn">{{'SECTION-FIVE.section-title' | translate}}</h1>
        <ul class="animated fadeIn">
            <li>- {{'SECTION-FIVE.li-1' | translate}} </li>
            <li>- {{'SECTION-FIVE.li-2' | translate}} </li>
            <li>- {{'SECTION-FIVE.li-3' | translate}} </li>
            <li>- {{'SECTION-FIVE.li-4' | translate}}</li>
        </ul>
        <button class="btn btn-default animated fadeIn"
                (click)="takeQuizz(1)">{{'button-buy' | translate}}</button>
    </div>
</div>

