<div class="djg" #section5>
  <div *ngIf="shouldDisplay" class="contentLeft">
    <h1 class="section-title animated fadeIn slow">{{'SECTION-FIVE.section-title' | translate}}</h1>
    <ul class="animated fadeIn slow">
      <li>- {{'SECTION-FIVE.li-1' | translate}} </li>
      <li>- {{'SECTION-FIVE.li-2' | translate}} </li>
      <li>- {{'SECTION-FIVE.li-3' | translate}} </li>
      <li>- {{'SECTION-FIVE.li-4' | translate}}</li>
    </ul>
    <button class="btn btn-default animated fadeIn slow" (click)="takeQuizz(1)">{{'button-started' | translate}}</button>
  </div>
</div>

