@import '~src/assets/scss/_vars';
:host {
  background-image: url("~/assets/images/section-2-bg.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 521px;
  max-width: 100%;
 & .djg {
   flex: 1;
   flex-wrap: nowrap;
   min-height: 521px;
   flex-direction: row;
 }
  & .shadow {
    position: relative;
    width: 239px;
    background-color: $base-black;
    opacity: 0.39;
    display: flex;
    flex: 1 1 100%;
    flex-grow: 1;
    z-index: 0;
  }
  & .section-title{
    color: $base-white;
    font-size: 24px;
    font-family: $font-family-medium;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -1px;
    z-index: 99;
    margin-top: 15px;
  }
  & ul {
    z-index: 99;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  & ul > li {
    font-family: $font-family-light;
    font-weight: 300;
    color: $base-white;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 1;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 2em;
    margin-bottom: 15px;
    &:before {
      font-size: 11px;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      padding-right: 15px;
      color: $base-green-light;
      font-family: $font-awesome;
      font-weight: 900;
      content: "\f00c";
    }
  }
  & button {
    width: 188px;
    background-color: $base-red;
    color: $base-white;
    font-size: 21px;
    font-weight: 800;
    letter-spacing: -1px;
    z-index: 99;
    margin-top: 20px;
    border-radius: 100px;
  }
  ::ng-deep app-benefit .benefit {
    padding-left:  23px;
    padding-right: 23px;

  }
  & .contentRight{
    min-height: 521px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 50%), rgba(0, 0, 0, 0.0001);
    padding: 25px 15px;
    .content-inside {
      float: right;
      width: 61%;
    }
  }
}

@media(max-width: 395px) {
  :host {
    & .section-title{
      font-size: 24px;
    }
  }
}
