@import '~src/assets/scss/_vars';
:host {
  & .pt-46 {
    align-content: center;
    display: flex;
    justify-content: center;
    margin: 7px -40px 0 -40px;

    & p {
      font-family: $font-family-medium;
      color: $base-black-light;
      font-size: 18px;
      text-align: left;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: -1px;
    }
  }

  & form {
    padding-top: 43px;
    display: flex;
    flex-wrap: wrap;
  }

  & input {

    width: 304px;
    height: 41px;
    background-color: $base-white;
    border-radius: 0;
  }

  & .singleFaq {
    &:first-child {
      //border-top: 1px solid $base-white-opacity;
    }

    h4 {
      text-align: left;
      font-size: 1.2rem;
    }

    .ques {
      max-width: 90%;
    }
    i {
      font-size: 14px;
      color: $base-green-light;
    }
  }
}
