:host {
  & .pt-46{
    align-content: center;
    display: flex;
    justify-content: center;
    padding-top: 25px;

    & p {
      font-family: 'Avenir LT Std';
      font-weight: normal;
      font-style: normal;
      color: #ffffff;
      font-size: 18px;
      text-align: left;
    }
  }
  & form {
    padding-top: 43px;
    display: flex;
    flex-wrap: wrap;
  }
  & input {

    width: 304px;
    height: 41px;
    background-color: #ffffff;
    border-radius: 0;
  }
  & .singleFaq{
    margin-bottom: 10px;
    &:first-child {
      border-top: 1px solid rgba(255, 255, 255,.4);
      padding-top: 8px;
    }
    h4{
      text-align: left;
      font-size: 1.2rem;
    }
    .ques{
      max-width: 90%;
    }
  }
}
