@import '~src/assets/scss/_vars';

:host {
  & h1 {
    color: $base-black-light;
    font-weight: 800;
    width: 332px;
    max-width: 100%;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -2px;
  }

  & .head {
    align-content: center;
    display: flex;
    justify-content: center;
    padding-top: 46px;
  }

  & form {
    padding: 20px;
    margin-top: 15px;
    color: $base-black-light;
    width: 100%;
  }
  & input {
    width: 354px;
    max-width: 100%;
    height: 42px;
    background-color: $base-gray-light-2;
    border: 1px solid $base-gray-opacity;
    border-radius: 21px;
  }
  label {
    font-family: $font-family-medium;
    font-size: 14px;
    padding-left: 20px;
    line-height: 19px;
    letter-spacing: -1px;
    color: $base-black-light;
  }
  & .loginBtn {
    width: 354px;
    max-width: 100%;
    height: 42px;
    border-radius: 104px;
    margin: 0 auto;
    background-color: $base-green-light;
    color: $base-white;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -1px;
  }
}
