<div class="customNav">
    <app-top-nav [custom]="true" [showLang]="false"></app-top-nav>
</div>

<div class="header-hero position-relative without-slide">
    <app-back></app-back>
    <div class="hero-section">
        <div class="row pt-46 text-center animated bounceInDown delay-.5s head">
            <div class="col-12">
                <h1>{{'ADMIN.head' | translate}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="loginContent">
    <div class="row loginFormHere">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(template)">
            <div class="form-group">
                <label>{{'ADMIN.email' | translate}}</label>
                <input type="text" formControlName="email" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">{{'ADMIN.email-msg' | translate}}</div>
                </div>
            </div>
            <div class="form-group">
                <label>{{'ADMIN.password' | translate}}</label>
                <input type="password" formControlName="password" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">{{'ADMIN.password-msg' | translate}}</div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-default loginBtn" *ngIf="show; else default">{{'ADMIN.btn-login' | translate}}</button>
                <ng-template #default>
                    <div class="spinner mx-auto" style="margin-top: 2.5rem;">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </ng-template>
            </div>
        </form>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{data}}
    </div>
</ng-template>
