@import '~src/assets/scss/_vars';

:host {
  & h1 {
    color: $base-blue-dark;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: -1.75px;
  }

  & .head {
    align-content: center;
    display: flex;
    justify-content: center;
    padding-top: 46px;
  }

  & form {
    padding: 20px;
    margin-top: 15px;
    color: $base-blue-dark;
    width: 100%;
  }

  & .loginBtn {
    margin-top: 20px;
    width: 150px;
    overflow: hidden;
    padding: 10px;
    border-radius: 1px;
    background-color: $base-blue-light;
    color: $base-blue-dark;
  }
}
